<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>Conflict</h1>
    <h2>Python </h2>   <h1>Conflict</h1>
    <h2>Python </h2>   <h1>Conflict</h1>
    <h2>Python </h2>   <h1>Conflict</h1>
    <h2>Python </h2>   <h1>Conflict</h1>
    <h2>Python </h2>   <h1>Conflict</h1>
    <h2>Python </h2>
    <h1>Conflict</h1>
    <h2>Python </h2>
    <p>par      ffogi gsgiogisag gaoiga gao agga ggir riiriri g  oir gog rgr sgr gr grs sririsirsaaisrrgs iarsras</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi eaque repudiandae, amet qui, ad quibusdam ratione velit adipisci cumque minima vero laborum, molestias nihil repellat fuga officiis similique mollitia a. G:\Git works\test_6>git push
    Enumerating objects: 9, done.
    Counting objects: 100% (9/9), done.
    Delta compression using up to 4 threads
    Compressing objects: 100% (4/4), done.
    Writing objects: 100% (5/5), 397 bytes | 397.00 KiB/s, done.
    Total 5 (delta 3), reused 0 (delta 0), pack-reused 0
    remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
    To https://github.com/prem-jith2310/test_6.git
       fda717d..c6ac951  main -> main
    
    G:\Git works\test_6>git add --all
    
    G:\Git works\test_6>git commit -m "con"
    [main d290b4a] con
     1 file changed, 1 insertion(+)
    
    G:\Git works\test_6>git push
    Enumerating objects: 9, done.
    Counting objects: 100% (9/9), done.
    Delta compression using up to 4 threads
    Compressing objects: 100% (4/4), done.
    Writing objects: 100% (5/5), 412 bytes | 412.00 KiB/s, done.
    Total 5 (delta 3), reused 0 (delta 0), pack-reused 0
    remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
    To https://github.com/prem-jith2310/test_6.git
       c6ac951..d290b4a  main -> main</p>

  </body>
</html>
